<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="admin/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <base href="/">
    <%- include('shared/head') %>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        <!-- Menu -->
        <%- include('shared/menu') %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <%- include('shared/nav') %>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">WakuStudio /</span> Riders</h4>

              <!-- Bordered Table -->
              <div class="card">
                <h5 class="card-header">Riders</h5>

                <div class="card-body">
                  <div class="demo-inline-spacing">
                    <button id="buttonA" type="button" class="btn btn-secondary">World</button>
                    <button id="buttonB" type="button" class="btn btn-secondary">Taiwan</button>
                    <!-- <button type="button" class="btn btn-primary" disabled>Disabled</button> -->
                  </div>
                </div>

                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Athlete</th>
                          <th class="tableA">世界Rank</th>
                          <th class="tableA">世界Street</th>
                          <th class="tableA">世界Park</th>
                          <th class="tableA">兩年Street</th>
                          <th class="tableA">兩年Park</th>
                          <th class="tableB" style="display: none;">奧運Rank</th>
                          <th class="tableB" style="display: none;">台灣Street</th>
                          <th class="tableB" style="display: none;">台灣Park</th>
                          <!-- <th>age</th> -->
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% Riders.forEach(function(Riders) { %>
                          <form id="updateForm<%= Riders.id %>" action="admin//handleRiderEdit" method="POST">
                            <input type="hidden" name="id" value="<%= Riders.id %>">
                            <tr>
                              <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= Riders.athlete %></strong>
                              </td>
                              <td class="tableA"><input type="text" class="form-control" name="GlobalRank" value="<%= Riders.GlobalRank %>"></td>
                              <td class="tableA"><input type="text" class="form-control" name="alltimeStreet" value="<%= Riders.alltimeStreet %>"></td>
                              <td class="tableA"><input type="text" class="form-control" name="alltimePark" value="<%= Riders.alltimePark %>"></td>
                              <td class="tableA"><input type="text" class="form-control" name="twoYearsStreet" value="<%= Riders.twoYearsStreet %>"></td>
                              <td class="tableA"><input type="text" class="form-control" name="twoYearsPark" value="<%= Riders.twoYearsPark %>"></td>
                              <td class="tableB" style="display: none;"><input type="text" class="form-control" name="OlympicRank" value="<%= Riders.OlympicRank %>"></td>
                              <td class="tableB" style="display: none;"><input type="text" class="form-control" name="twStreetRank" value="<%= Riders.twStreetRank %>"></td>
                              <td class="tableB" style="display: none;"><input type="text" class="form-control" name="twParkRank" value="<%= Riders.twParkRank %>"></td>
                              <td>
                                <div class="dropdown">
                                  <button
                                    type="button"
                                    class="btn p-0 dropdown-toggle hide-arrow"
                                    data-bs-toggle="dropdown"
                                  >
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="submitForm('updateForm<%= Riders.id %>')"
                                      ><i class="bx bx-edit-alt me-1"></i> 單筆更新</a
                                    >
                                    <a class="dropdown-item" href="/skateboard.map.spot/rider/<%= Riders.id %>"
                                      target="_blank" ><i class="bx bx-edit-alt me-1"></i> Preview</a
                                    >
                                    <a class="dropdown-item" href="/admin/riderEdit/<%= Riders.id %>"
                                      ><i class="bx bx-edit-alt me-1"></i> Edit</a
                                    >
                                    <a class="dropdown-item" href="/admin/riderDelete/<%= Riders.id %>"
                                      ><i class="bx bx-trash me-1"></i> Delete</a
                                    >
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </form>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--/ Bordered Table -->

              <hr class="my-5" />

            </div>
            <!-- / Content -->

            <!-- Footer -->
            <!-- <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                  <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer> -->
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <script>
      function submitForm(formId) {
        document.getElementById(formId).submit();
      }
    </script>

    <script>
      const buttonA = document.getElementById('buttonA');
      const buttonB = document.getElementById('buttonB');
      const tableAElements = document.querySelectorAll('.tableA');
      const tableBElements = document.querySelectorAll('.tableB');
    
      buttonA.addEventListener('click', () => {
        tableAElements.forEach((element) => {
          element.style.display = '';
        });
        tableBElements.forEach((element) => {
          element.style.display = 'none';
        });
      });
    
      buttonB.addEventListener('click', () => {
        tableAElements.forEach((element) => {
          element.style.display = 'none';
        });
        tableBElements.forEach((element) => {
          element.style.display = '';
        });
      });
    </script>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="admin/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="admin/assets/vendor/libs/popper/popper.js"></script>
    <script src="admin/assets/vendor/js/bootstrap.js"></script>
    <script src="admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="admin/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="admin/assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
