<!DOCTYPE html>
<html lang="en">

<head>
	<base href="/">
	<%- include('../share/head') %>

	<!-- CUSTOM CSS -->
	<link href="map/css/shop.css" rel="stylesheet">
	<link href="map/css/custom.css" rel="stylesheet">
</head>

<body>

	<%- include('../partials/preloader') %>

	<!-- Header================================================== -->
	<%- include('../share/header-shop') %>	
	<!-- End Header -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- Position -->

		<div class="container margin_60">
			<div class="row">
				<div class="col-lg-9" id="faq">
					<h3 class="nomargin_top">網站服務條款</h3>
					<div id="payment" class="accordion_styled">
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseOne_payment">隱私權聲明<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseOne_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							為了維護個人隱私權與支持個人資料保護, SpotsMap 謹以下列聲明,向您說明 SpotsMap 蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項; 如果您對於 SpotsMap 的隱私權聲明、以下相關告知事項、或與個人資料保護有關之相關事項有任何疑問,可以和 SpotsMap 客服中心聯絡, SpotsMap 將儘快回覆說明。						  </div>
						</div>
					  </div>
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseTwo_payment">適用範圍<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseTwo_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							SpotsMap 隱私權聲明及其所包含之告知事項,僅適用於 SpotsMap 所擁有及經營的網站(包含行動裝置APP)。 SpotsMap 網站內可能包含許多連結、或其他合作夥伴及個別開店店家所提供的商品或服務,關於該等連結網站、合作夥伴網站或個別開店店家之網路店家的隱私權聲明及與個人資料保護有關之告知事項,請參閱各該連結網站、合作夥伴網站或個別開店店家之網路店家。						  </div>
						</div>
					  </div>
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">個人資料蒐集之目的與類別<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							SpotsMap為了提供電子商務服務、售後服務、履行法定或合約義務、保護當事人及相關利害關係人之權益、行銷、客戶管理與服務、以及經營合於營業登記項目或組織章程所定之業務等目的,依照各服務之性質,會蒐集您的姓名、連絡方式(包括但不限於電話、E-MAIL及地址等)、為了行銷目的所需之資料:教育程度、職業狀態、家庭婚姻狀況、經濟程度、為完成收款或付款所需之資料、IP位址、及其他得以直接或間接識別使用者身分之個人資料。 此外,為提升服務品質, SpotsMap 會依照所提供服務之性質,記錄使用者的IP位址、以及在 SpotsMap 相關網站或APP內的瀏覽活動等資料,供系統服務商作流量分析、網路行為調查及機器學習運算,以便於改善 SpotsMap 相關網站或APP的服務品質,不會和特定個人相連繫。						  </div>
						</div>
					  </div>
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">個人資料的利用<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							SpotsMap 所蒐集的足以識別使用者身分的個人資料、消費與交易資料,或日後經您同意而提供之其他個人資料,都僅供 SpotsMap 於其內部及系統服務商、依照蒐集之目的進行處理和利用、或為完成提供服務或履行合約義務之必要、或依照相關法令規定或有權主管機關(包括但不限於法院或台灣票據交換所)之命令或要求,否則 SpotsMap 不會將足以識別使用者身分的個人資料提供給本隱私權條款未臚列或 SpotsMap 網站未公布的第三人(包括境內及境外)、或移作蒐集目的以外之使用。 SpotsMap 會持續保管、處理及利用相關資料。在上開蒐集目的範圍內,本商店會將所蒐集的個人資料,提供予合作廠商(包括但不限提供系統服務之91APP、宅配貨運業者、通訊服務業者、金流服務業者與其他有輔助 SpotsMap 履行合約義務或客戶服務必要之第三方廠商)以協助提供服務。針對訊息通知, SpotsMap 可能會使用LINE通知型訊息,通知出退貨與會員權益等必要資訊,即使未加入本公司/本服務好友,您仍可接收到通知型訊息,本公司/本服務傳送之通知型訊息以對您有效且重要的訊息為限,以廣告或其他目的的訊息皆不會被傳送,滿足以下三個條件者,將可收到通知型訊息(1)LINE 帳號設定的電話號碼與本公司/本服務所傳來的電話號碼比對相符(2)該 LINE 帳號已在 LINE APP 設定中,同意接收通知型訊息(3)LINE 帳號未封鎖傳送訊息之 LINE 官方帳號。欲變更通知型訊息的設定,操作如下:(1)點選「好友」>「設定」 (2)點選「隱私設定」(3)點選「提供使用資料」(4)點選「通知型訊息」(5)開關「接收通知型訊息」。關閉「接收通知型訊息」後,將不會接收到來自任何企業官方帳號或認證官方帳號的通知型訊息。 若選擇以信用卡方式支付,僅限信用卡持卡人本人使用,且得就此交易資料向發卡銀行、收單行及持卡人照會並確認是否屬實,於核對無誤後付款程序才算完成。依上開蒐集目的所取得的個人資料,可能會傳送至您的國家或地區以外的地方進行保存或處理,且於符合個人資料保護法的情況下才會將您的資訊傳送至境外。						</div>
					    </div>
				      </div>
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">個人資料蒐集之目的與類別<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							SpotsMap為了提供電子商務服務、售後服務、履行法定或合約義務、保護當事人及相關利害關係人之權益、行銷、客戶管理與服務、以及經營合於營業登記項目或組織章程所定之業務等目的,依照各服務之性質,會蒐集您的姓名、連絡方式(包括但不限於電話、E-MAIL及地址等)、為了行銷目的所需之資料:教育程度、職業狀態、家庭婚姻狀況、經濟程度、為完成收款或付款所需之資料、IP位址、及其他得以直接或間接識別使用者身分之個人資料。 此外,為提升服務品質, SpotsMap 會依照所提供服務之性質,記錄使用者的IP位址、以及在 SpotsMap 相關網站或APP內的瀏覽活動等資料,供系統服務商作流量分析、網路行為調查及機器學習運算,以便於改善 SpotsMap 相關網站或APP的服務品質,不會和特定個人相連繫。						  </div>
						</div>
					  </div>
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">第三方利用與廣告(分析)服務:<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							為優化您的消費體驗,我們提供相關第三方認證服務的功能,第三方認證業者如Google、Facebook、Apple、LINE等,讓您可以利用此功能,更快速地完成本網站的註冊與登入流程。同時,為了讓您能更輕易地接觸所偏好的商品資訊,我們會在不同平台對您作優化廣告投放及使用流程的目的範圍內,將您的個人資料分享給提供廣告分析、投放的服務業者如Google、Facebook、Line、Yahoo、Criteo、Adobe、Tagtoo,另該些服務業者得以為您進行精準的商品廣告安排,此外,我們也已安裝 Google Analytics (分析) 廣告功能。如您欲停用此類功能及服務,建議您可參考Google所提供 不透露資訊的方式 以停用該功能,或與我們聯繫,我們會提供必要的協助。						</div>
					    </div>
					  </div>
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">資料安全<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							SpotsMap 將以合於產業標準之合理技術及程序,維護 SpotsMap 個人資料之安全。請留意,手機號碼是關聯您會員身分的核心認證資訊,若您手機遺失、更換手機號碼、或有變更手機號碼所有權名義時,請務必與 SpotsMap 聯繫,進一步完成必要的個人資訊變更,以確保您的個人資料、交易資料的安全性與機密性;若您未提出前述資訊變更需求,須自行負擔可能發生的一切損害。					    
						  </div>
					    </div>
					  </div>
					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">資料當事人之權利<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							資料當事人可以請求查詢、閱覽本人的個人資料或要求給予複本。若您的個人資料有變更、或發現您的個人資料不正確,可以向 SpotsMap 要求修改或更正;如您所提供之資料錯誤或缺漏,則不受本隱私權聲明之保護。您可要求刪除、停止處理或利用個人資料。但因 SpotsMap 執行職務或業務所必須者,不在此限。因應歐盟個人資料保護法規(European Union General Data Protection Regulation, GDPR),歐盟國家使用者將暫停使用 SpotsMap 之各服務。若您有任何詢問,請與 SpotsMap 客服中心聯絡。若您欲行使刪除請求權,請直接聯繫服務專員 留言給商店 協助您行使權利,惟本公司得酌收必要成本費用,並將處理結果以書面通知請求人。						  
						  </div>
					    </div>
					  </div>

					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">Cookie<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							為了便利使用者, SpotsMap 網站可能會讀取儲存在使用者電腦中的cookie資料,該cookie資料主要分為下列三項:(1) 功能cookie (Functional Cookies),主要用於記憶您在網站上的設定,以改善並提供您個人化的功能服務。(2) 效能cookie (Performance Cookies),透過紀錄使用者操作經驗,幫助我們改善網站的設計效能。透過此類Cookie,我們可以了解到網站的哪些頁面或服務功能是最多人使用,以及使用者可能遇到的系統錯誤,並進行修正。(3) 廣告行銷 Cookie (Advertising Cookies),為適當提供您最適當的本公司最新消息與產品資訊,透過此類cookie,可以讓我們與我們所合作廣告商,提供您感興趣的廣告內容。使您可以在本公司所經營或其他網站看到我們所提供的廣告內容。使用者可以經由瀏覽器的設定,取消、或限制此項功能,但可能因此無法使用部份網站功能。若您想知道如何取消、或限制此項功能,請與 SpotsMap 客服中心聯絡。						  
						  </div>
					    </div>
					  </div>

					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">Google Analyics(分析)廣告功能<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							本服務已安裝 Google Analytics (分析) 廣告功能。本功能僅用於提供 SpotsMap 分析廣告投放效益及優化使用流程,如您欲停用 Google Analytics (分析) 廣告功能,建議您可參考Google所提供 不透露資訊的方式 以停用該功能。						  
						</div>
					    </div>
					  </div>

					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">影響<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							若您不願意提供各服務或交易所要求的相關個人資料予 SpotsMap ,且不同意 SpotsMap 就該等個人資料依法令規定、以及本隱私權聲明及其相關告知內容為相關之個人資料蒐集、處理、利用及國際傳輸, SpotsMap 將尊重您的決定,但依照各該服務之性質或條件,您可能因此無法使用該等服務或完成相關交易, SpotsMap 並保留是否同意提供該等相關服務或完成相關交易之權利。						
						  </div>
					    </div>
					  </div>

					  <div class="card">
						<div class="card-header">
						  <h4>
							<a class="accordion-toggle" data-bs-toggle="collapse" data-bs-parent="#payment" href="#collapseThree_payment">修訂權利與效力<i class="indicator icon-plus float-end"></i></a>
						  </h4>
						</div>
						<div id="collapseThree_payment" class="collapse" data-bs-parent="#payment">
						  <div class="card-body">
							SpotsMap 有權隨時修訂本隱私權聲明及相關告知事項,並得於修訂後公佈在 SpotsMap 網站,不另行個別通知,您同意更新的隱私權條款仍對您發生效力,因此,您有義務亦隨時可以在 SpotsMap 網站上詳閱最新版本的隱私權聲明及相關告知事項。						  
						  </div>
					    </div>
					  </div>


					</div>
					<!--End payment -->

				</div>
				<!-- End col lg-9 -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</main>
	<!-- End main -->

	<%- include('../share/footer') %>	
	<!-- End footer -->
	<%- include('../partials/scripts') %>

	<%- include('../partials/message') %>

	<!-- Specific scripts -->
	<!-- Fixed sidebar -->
	<script src="js/theia-sticky-sidebar.js"></script>
	<script>
		jQuery('#sidebar').theiaStickySidebar({
			additionalMarginTop: 80
		});
	</script>
	<script>
	$('#faq_box a[href^="#"]').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			|| location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			   if (target.length) {
				 $('html,body').animate({
					 scrollTop: target.offset().top -115
				}, 800);
				return false;
			}
		}
	});
	</script>
	

</body>

</html>