<!DOCTYPE html>
<html lang="en">
 
<head>
	<base href="/">
	<%- include('../share/head') %>
	<!-- CUSTOM CSS -->
	<link href="map/css/shop.css" rel="stylesheet">
	<link href="map/css/custom.css" rel="stylesheet">
</head>
 
<body>

	<%- include('../partials/preloader') %>
	<!-- Header================================================== -->
	<%- include('../share/header-shop') %>	
	<!-- End Header -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="#">Home</a>
					</li>
					<li><a href="#">Category</a>
					</li>
					<li>Page active</li>
				</ul>
			</div>
		</div>
		<!-- End Position -->

		<div class="container margin_60">
			<div class="row">
				<div class="col-lg-9">
					<div class="product-details">
						<div class="basic-details">
							<div class="row">
								<div class="image-column col-sm-6">
									<figure class="image-box"><img src="<%= product.image %>" alt="" loading="lazy">
									</figure>
								</div>
								<div class="info-column col-sm-6">
									<div class="details-header">
										<h2><%= product.name  %></h2> 
										<div class="item-price">
											<span class="offer">NT$<%= product.price +5  %></span> NT$<%= product.price  %>
										</div>
										<div class="rating">
											<i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star-empty"></i>
										</div>
									</div>
									<div class="text">
										<p>
											請期待日後推出的正式商品！
										</p>
									</div>
									<div class="other-options">
										<form id="productForm_<%= product.id %>" action="/skateboard.map.spot/cart" method="POST" style=" display: inline;">
											<input type="hidden" name="productId" value="<%= product.id %>">
											<div class="numbers-row">
												<input type="text" value="1" class="qty2 form-control" name="quantity">
											</div>
											<!-- <a href="shopping-cart.html" class="btn_1" onclick="productForm('<%= product.id %>')">加入購物車 </a> -->
											<a href="javascript:void(0)" class="btn_1" onclick="productForm('<%= product.id %>')">加入購物車</a>
										</form>
									</div>
									<!--Item Meta-->
									<!-- <ul class="item-meta">
										<li>Note: <a href="#">限量供應</a> , <a href="#">Magazine</a>
										</li>
									</ul> -->
								</div>
							</div>
						</div>
						<!--End Basic Details-->

						<div class="product-info-tabs">

							<div class="prod-tabs" id="product-tabs">
								<div class="tab-btns clearfix">
									<a href="#prod-description" class="tab-btn active-btn">介紹</a>
									<a href="#prod-reviews" class="tab-btn">評論</a>
								</div>

								<div class="tabs-container">
									<div class="tab active-tab" id="prod-description">
										<h3>商品描述</h3>
										<div class="content">
											<p>
												<%= product.description  %>
											</p>
										</div>
									</div>
									<!--End Tab-->

									<div class="tab" id="prod-reviews">
										<hr>
									</div>
								</div>
								<!--End tabs-container-->
							</div>
							<!--End prod-tabs-->
						</div>
						<!--End product-info-tabs-->

					</div>
					<!--End Product-details-->
				</div>
				<!--End Col-->
			</div>
		</div>
		<!-- End Container -->
	</main>
	<!-- End main -->

	<%- include('../share/footer') %>	
	<!-- End footer -->
	<%- include('../partials/scripts') %>

	<%- include('../partials/message') %>

	<script>
		if ($('.prod-tabs .tab-btn').length) {
			$('.prod-tabs .tab-btn').on('click', function (e) {
				e.preventDefault();
				var target = $($(this).attr('href'));
				$('.prod-tabs .tab-btn').removeClass('active-btn');
				$(this).addClass('active-btn');
				$('.prod-tabs .tab').fadeOut(0);
				$('.prod-tabs .tab').removeClass('active-tab');
				$(target).fadeIn(500);
				$(target).addClass('active-tab');
			});

		}
	</script>

	<script>
		$(document).ready(function () {
			$(".numbers-row").append('<div class="inc button_inc">+</div><div class="dec button_inc">-</div>');
			$(".button_inc").on('click', function () {

				var $button = $(this);
				var oldValue = $button.parent().find("input").val();

				if ($button.text() == "+") {
					var newVal = parseFloat(oldValue) + 1;
				} else {
					if (oldValue > 1) {
						var newVal = parseFloat(oldValue) - 1;
					} else {
						newVal = 0;
					}
				}
				$button.parent().find("input").val(newVal);
			});
		})
	</script>
		
</body>

</html>