<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="admin/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <base href="/">
    <%- include('../shared/head') %>
  </head>
 
  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        <!-- Menu -->
        <%- include('../shared/menu') %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <%- include('../shared/nav') %>
          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">WakuStudio /</span> Showcase Of Jun's Works</h4>


              <!-- Image Part -->
              <form action="/admin/uploadPortfolio" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">IMAGE upload</h5>
                      <small class="text-muted float-end">Waku Studio</small>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                          <div class="col-6">
                            <label for="exampleFormControlSelect1" class="form-label">Tags</label>
                            <select name="tag" class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                              <option selected>frontend</option>
                              <option value="frontend">Frontend</option>
                            </select>
                          </div>
                          <div class="col-6">
                            <label for="defaultInput" class="form-label">預編輯的圖片id</label>
                            <input name="existedID" id="defaultInput" class="form-control" type="text" placeholder="existedID" />
                          </div>
                        </div>  
                        <div class="mb-3">
                          <label class="form-label" for="basic-icon-default-fullname">IMAGE Upload</label>
                          <div class="input-group">
                            <input type="file" class="form-control" name="image" id="js-upload-files" style="background-color: #abb2b9; color: #ffffff;" multiple>
                            <!-- <label class="input-group-text" for="inputGroupFile02">upload</label> -->
                          </div>  
                        </div>
                        <button type="submit" class="btn btn-primary">確定新增</button>
                    </div>
                  </div>
                </div>
              </div>
              </form>
              
              <!-- instagramProjects Table -->
              <div class="card">
                <h5 class="card-header">Media</h5>
                <%- include('../../map/partials/message') %>

                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Tag</th>
                          <th>imgur</th>
                          <th>Operate</th>
                        </tr>
                      </thead>
                      <tbody>
                      <% frontendProjects.forEach(function(project) { %>
                          <tr>
                            <td>
                              <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong><%= project.id %></strong>
                            </td>
                            <td><%= project.tag %></td>
                            <td><%= project.image %></td>
                            <td>
                              <div class="dropdown">
                                <button
                                  type="button"
                                  class="btn p-0 dropdown-toggle hide-arrow"
                                  data-bs-toggle="dropdown"
                                >
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="<%= project.image %>"
                                    target="_blank" ><i class="bx bx-edit-alt me-1"></i> Preview</a
                                  >
                                  <a class="dropdown-item" href="/admin/products/<%= project.id %>"
                                    ><i class="bx bx-edit-alt me-1"></i> 編輯商品</a
                                  >
                                  <form id="deleteProductForm_<%= project.id %>" action="/admin/portfolio/<%= project.id %>?_method=DELETE" method="POST"></form>
                                    <a class="dropdown-item" href="#" onclick="submitForm('<%= project.id %>')"
                                      ><i class="bx bx-trash me-1"></i> 刪除商品</a
                                    >
                                  </form>
                                </div>
                              </div>
                            </td>
                          </tr>
                      <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--/ Bordered Table -->
              <br>
              

              <hr class="my-5" />

            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <%- include('../shared/scripts') %>

    <script>
      function submitForm(productId) {
        console.log('submitForm called for product ID:', productId);
        const form = document.getElementById('deleteProductForm_' + productId);
        
        // 使用 Promise 確保異步處理完成後再執行 submit()
        new Promise(resolve => setTimeout(resolve, 0)).then(() => {
          form.submit();
        });
      }
    </script>
  
  </body>
</html>
