<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <%- include('shared/head') %>
  </head>
  <body>
    
    <%- include('shared/nav') %>
    
    <!-- <section class="home-slider js-fullheight owl-carousel bg-white">
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
		  <div class="container">
			<div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/bg_1.jpg);">
					<h3 class="vr">Architecture Firm</h3>
				</div>
				<div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<div class="text">
					  <h1 class="mb-4">We Love <br>Modern Designs</h1>
					  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					  <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">View our works</a></p>
				  </div>
				</div>
			  </div>
		  </div>
		</div>
  
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
		  <div class="container">
			<div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="one-third order-md-last img js-fullheight" style="background-image:url(images/bg_2.jpg);">
					<h3 class="vr">Since - 2018</h3>
				</div>
				<div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<div class="text">
					  <h1 class="mb-4">We Create Amazing Architecture Designs</h1>
					  <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					  <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">View our works</a></p>
				  </div>
				</div>
			  </div>
		  </div>
		</div>
	</section> -->
		  
	<section class="ftco-services">
		<div class="container">
			<div class="row justify-content-start mt-5 py-5">
				<div class="col-md-4 heading-section ftco-animate">
					<h2 class="mb-4">Showcase Of Jun's Works</h2>
					<p>Here's My Works.為了讓品牌有更好的閱聽者體驗、更多的原創內容與故事，我利用最前沿的技術工具，如DALL·E和Canva，來創造與眾不同的視覺作品。，而現在，我希望通過我的線上作品集與您分享這段旅程。</p>
				</div>
				<div class="col-md-8 ftco-animate">
					<div class="row d-flex">
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="flaticon-layers"></span>
								</div>
								<div class="media-body p-2 mt-3">
								<h3 class="heading">Design</h3>
								<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="flaticon-layers"></span>
								</div>
								<div class="media-body p-2 mt-3">
								<h3 class="heading">Industrial Design</h3>
								<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="flaticon-layers"></span>
								</div>
								<div class="media-body p-2 mt-3">
								<h3 class="heading">Architecture Support</h3>
								<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="flaticon-layers"></span>
								</div>
								<div class="media-body p-2 mt-3">
								<h3 class="heading">ChatGPT輔助開發</h3>
								<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-start mb-5 pb-2">
		<div class="col-md-4 heading-section ftco-animate">
			<span class="subheading subheading-with-line"><small class="pr-2 bg-light">Graphic Design</small></span>
			<h2 class="mb-4">Dall.E Projects</h2>
		</div>
		<div class="col-md-8 pl-md-5 heading-section ftco-animate">
			<div class="pl-md-4 border-line">
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
			</div>
		</div>
		</div>
		</div>
		<div class="container">
		<div class="row" style="row-gap: 10px;">
			<% dall.reverse().forEach(function(project) { %>
			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
				<div class="project" style="background-color: rgb(172, 174, 174);">
					<img src="<%= project.image %>" class="img-fluid" alt="Colorlib Template">
					<div class="text">
						<span>Dall.E Projects</span>
						<h3><a href="project.html"></a></h3>
					</div>
					<a href="<%= project.image %>" class="icon image-popup d-flex justify-content-center align-items-center" loading="lazy">
						<span class="icon-expand"></span>
					</a>
				</div>
			</div>
			<% }) %>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-start mb-5 pb-2">
		<div class="col-md-4 heading-section ftco-animate">
			<span class="subheading subheading-with-line"><small class="pr-2 bg-light">Graphic Design</small></span>
			<h2 class="mb-4">Canva Projects</h2>
		</div>
		<div class="col-md-8 pl-md-5 heading-section ftco-animate">
			<div class="pl-md-4 border-line">
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
			</div>
		</div>
		</div>
		</div>
		<div class="container">
		<div class="row" style="row-gap: 10px;">
			<% canva.reverse().forEach(function(project) { %>
			<div class="col-6 col-md-6 col-lg-3 ftco-animate">
				<div class="project" style="background-color: rgb(172, 174, 174);">
					<img src="<%= project.image %>" class="img-fluid" alt="Colorlib Template">
					<div class="text">
						<span>Canva Projects</span>
						<h3><a href="project.html"></a></h3>
					</div>
					<a href="<%= project.image %>" class="icon image-popup d-flex justify-content-center align-items-center" loading="lazy">
						<span class="icon-expand"></span>
					</a>
				</div>
			</div>
			<% }) %>
		</div>
	</section>
    
	<!-- footer & js -->
	<%- include('shared/footer') %>
    
  </body>
</html>