<!doctype html>
<html lang="zh-TW">                                 

<head>
	<base href="/">
	<%- include('share/head') %>

	<meta name="application-name" content="滑板地圖SpotsMap">
	<meta property="og:site_name" content="滑板地圖SpotsMap">
	<meta name="author" content="滑板地圖SpotsMap">
	<meta property="article:author" content="https://wakudesign.com/skateboard.map.spot">

	<title>當期活動一覽 | 板聚哪裡找 | 滑板地圖SpotsMap</title>

	<meta name="description">
	<meta name="keywords" content="板聚哪裡有, 活動紀錄, 找板友, 最新滑板活動整理">
	<meta name="url" itemprop="url" content="https://wakudesign.com/skateboard.map.spot/events">
	<meta property="og:url"                content="https://wakudesign.com/skateboard.map.spot/events" />
	<meta property="og:type"               content="website" />
	<meta property="og:title"              content="活動一覽 | 板聚哪裡找 | 滑板地圖SpotsMap" />
	<meta property="og:description" />
	

	<meta property="og:image"              content="map/img/banner-Media-3.png" />
	<meta property="og:image:width"        content="600" />
	<meta property="og:image:height"       content="600" />

	<!-- CSS -->
	<link href="map/css/blog.css" rel="stylesheet">
</head>

<body>

	<!-- <div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div> -->
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

	<!-- Header================================================== -->
	<header>
		<%- include('share/header') %>
	</header>
	<!-- End Header -->

	<main>
		<div id="position">
			<div class="container">
				<ul>
					<li><a href="/skateboard.map.spot">首頁</a>
					</li>
					<li><a href="/skateboard.map.spot/events">找活動</a></li>
				</ul>
			</div>
		</div>
		<!-- End position -->

		<div class="container margin_60">
			<!-- <div class="banner_style">
				<div class="wrapper d-flex justify-content-end align-items-end opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.08)" style="background-color: rgba(0, 0, 0, 0);">
					<div>
						<h3><br><br></h3>
						<p></p>
						<a href="/skateboard.map.spot/addEvent" class="btn_1" style="background: #dd8c4a;">活動登錄</a>
					</div>
				</div>
			</div> -->
			<!-- /banner_2 -->


			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-md-12">
						  <h3></h3>
					
						  <ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style=" color:rgb(168, 166, 165) ">即時活動資訊</a>
							</li>
							<li class="nav-item">
							<a class="nav-link" id="done-tab" data-bs-toggle="tab" href="#done" role="tab" aria-controls="done" aria-selected="false" style=" color:rgb(168, 166, 165) ">已結束的活動</a>
							</li>
						  </ul>
					    
						  <div class="tab-content" id="myTabContent">
							<!-- tab1 -->
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<div class="container margin_60">
									<div class="row add_bottom_60 ">
										<% Events.reverse().forEach(function(Events) { %>
											<div class="col-12 col-md-6 col-sm-12">
												<div class="img_wrapper_gallery">
													<div class="img_container_gallery">
														<a href="/skateboard.map.spot/event/<%= Events.id %>" title="Photo title">
															<% if (Events.picture) { %>
																<img src="<%= Events.picture %>" alt="Image" class="img-fluid" loading="lazy" >
															<% } else { %>
																<img src="map/img/emptyEvent.png" alt="Image" class="img-fluid" loading="lazy" >
															<% } %>
															<i class="icon-resize-full-2"></i>
														</a>
													</div>
												</div>
											</div>
										<% }) %>
									</div>
								</div>
							</div>

							<!-- tab2 -->
							<div class="tab-pane fade" id="done" role="tabpanel" aria-labelledby="done-tab">
								<div class="container margin_60">
										<div class="row add_bottom_60 ">
											<% eventsDone.reverse().forEach(function(eventsDone) { %>
												<div class="col-12 col-md-6 col-sm-12">
													<div class="img_wrapper_gallery">
														<div class="img_container_gallery">
															<a href="/skateboard.map.spot/event/<%= eventsDone.id %>" title="Photo title">
																<% if (eventsDone.picture) { %>
																	<img src="<%= eventsDone.picture %>" alt="Image" class="img-fluid" loading="lazy" >
																<% } else { %>
																	<img src="map/img/emptyEvent.png" alt="Image" class="img-fluid" loading="lazy">
																<% } %>
																<i class="icon-resize-full-2"></i>
															</a>
														</div>
													</div>
												</div>
											<% }) %>
										</div>
								</div>
							</div>
							
							<!-- tab3 -->
							<!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
								<a href="/skateboard.map.spot/coming" class="btn_1 outline">尚未開放</a> 
							</div> -->
						  </div>
						</div><!-- End col-md-12-->
					  </div><!-- End row-->					
					
				</div>
				<!-- End col -->

				<aside class="col-lg-3">

					<div class="widget">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search...">
							<span class="input-group-btn">
						<button class="btn btn-default" type="button" style="margin-left:0;"><i class="icon-search"></i></button>
						</span>
						</div>
						<!-- /input-group -->
					</div>
					<!-- End Search -->
					<hr>
					<hr>
					<div class="widget tags">
						<h4>Tags</h4>
						<a href="/skateboard.map.spot/events">技術板Shortboard</a>
						<a href="/skateboard.map.spot/events">LDP</a>
						<a href="/skateboard.map.spot/events">交通板Cruiser</a>
						<a href="/skateboard.map.spot/events">長板Longboard</a>
						<a href="/skateboard.map.spot/events">小魚板Mini Cruiser</a>
						<a href="/skateboard.map.spot/events">衝浪滑板Surfskate</a>
						<a href="/skateboard.map.spot/events">電動滑板Electric</a>
						<a href="/skateboard.map.spot/events">蛇板Snakeboard</a>
					</div>
					<!-- End widget -->

				</aside>
				<!-- End aside -->

			</div>
			<!-- End row-->
		</div>
		<!-- End container -->
	</main>
	<!-- End main -->

	<!-- Footer Start -->
	<%- include('share/footer') %>
	<!-- End footer -->

	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="text" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>Sign In</h3>
		</div>
		<form>
			<div class="sign-in-wrapper">
				<a href="#0" class="social_bt facebook">Login with Facebook</a>
				<a href="#0" class="social_bt google">Login with Google</a>
				<div class="divider"><span>Or</span></div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-start">
						<label class="container_check">Remember me
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
					</div>
					<div class="float-end"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="javascript:void(0);">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->

	

	<div id="spotsData" data-spots="<%= JSON.stringify(Events) %>"></div>
	<div id="eventsData" data-events="<%= JSON.stringify(eventsDone) %>"></div>
	<script>
		var spots = document.getElementById('spotsData').getAttribute('data-spots');
		var AllSpots = JSON.parse(spots);

		var locations = AllSpots.map(function(spot) {
		return spot.title;
		}).join(', ');

		var events = document.getElementById('eventsData').getAttribute('data-events');
		var Events = JSON.parse(events);

		var seoDetail = Events.map(function(spot) {
		return spot.title;
		}).join(', ');

		var descriptionMeta = document.querySelector('meta[name="description"]');
		if (descriptionMeta) {
		descriptionMeta.setAttribute('content', locations+seoDetail);
		}

		var ogDescriptionMeta = document.querySelector('meta[property="og:description"]');
		if (ogDescriptionMeta) {
		ogDescriptionMeta.setAttribute('content', locations+seoDetail);
		}
    </script>
	

	<!-- Common scripts -->
	<script src="map/js/jquery-3.6.4.min.js"></script>
	<script src="map/js/common_scripts_min.js"></script>
	<script src="map/js/functions.js"></script>


	<!-- Tab -->
	<script>
		if ($('.prod-tabs .tab-btn').length) {
			$('.prod-tabs .tab-btn').on('click', function (e) {
				e.preventDefault();
				var target = $($(this).attr('href'));
				$('.prod-tabs .tab-btn').removeClass('active-btn');
				$(this).addClass('active-btn');
				$('.prod-tabs .tab').fadeOut(0);
				$('.prod-tabs .tab').removeClass('active-tab');
				$(target).fadeIn(500);
				$(target).addClass('active-tab');
			});

		}
	</script>
	<!-- Tab ENd -->
	
	<!-- Masonry filter -->
	<script src="map/js/isotope.min.js"></script>
	<script>
	$(window).on('load',function(){
		var $container = $('.isotope-wrapper'),
			filters = {};

		$container.isotope({
		itemSelector : '.isotope-item'
		});
	});
	</script>

</body>

</html>